# Objective
Dive deep into working with datasets using _pandas_.

# Things To Learn
* Creating and working with _pandas dataframes_ and _series_.
* Loading and getting an overview of data.
* Manipulating datasets.
* Selecting, grouping and sorting data.

# Submission Guidelines
* Your finished _Jupyter Notebook_ - both as `.ipynb` and exported `.pdf`.

# Task: Manually Creating A _Dataframe_

**Task:**
Import _pandas_ and manually create a _dataframe_ containing data about a domain **you're passionate about**. Your dataframe should...

* ...contain at least 4 rows.
* ...contain at least 3 column, of which at least one should be numeric and one should be suitable as a _key_ (i.e. _index_).

Next, manually create a _series_ and add it as additional column to your dataset.

Finally, set the index of your dataframe to a suitable column.

# Task: Importing And Getting An Overview

Read the _ramen_ ratings from the provided file and get an overview of the data:

* Take a look at some rows from the top, bottom or random positions...
* Use summary functions to get a statistical overview of the data.
* Find out what data types we're dealing with.
* Identify what column would be suitable as index and set it!

In [ ]:
import pandas as pd

ramen = pd.read_csv('ramen-ratings.csv')

In [2]:
ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [3]:
ramen.tail()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [4]:
ramen.sample()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
1280,1300,Samyang Foods,Red Nagasaki Jjampong,Pack,South Korea,5,NaN

In [5]:
ramen.describe()

          Review #
count  2580.000000
mean   1290.500000
std     744.926171
min       1.000000
25%     645.750000
50%    1290.500000
75%    1935.250000
max    2580.000000

In [6]:
ramen.dtypes

Review #     int64
Brand       object
Variety     object
Style       object
Country     object
Stars       object
Top Ten     object
dtype: object

In [7]:
ramen.set_index('Review #', inplace=True)

# Task: Dealing With Erroneous Rows

As you surely noticed, the star ratings are not included in the numerical statistics. Find out why and fix this, so we can work with the column:

* Take a look at the column's data type (should have been determined in the last task). Try casting it to `float`!
* Find out all the unique values in the column.
* Now that you know the faulty values, identify their rows and drop them. This should affect 3 rows.
* Try casting the the column again and make sure we can now calculate statistics on it by printing the mean of it.

In [8]:
ramen['Stars'] = pd.to_numeric(ramen['Stars'], errors='coerce')

In [9]:
ramen['Stars'].unique()

array([3.75 , 1.   , 2.25 , 2.75 , 4.75 , 4.   , 0.25 , 2.5  , 5.   ,
       4.25 , 4.5  , 3.5  ,   nan, 1.5  , 3.25 , 2.   , 0.   , 3.   ,
       0.5  , 3.8  , 4.3  , 2.3  , 3.3  , 1.75 , 0.75 , 1.25 , 1.1  ,
       2.1  , 0.9  , 3.1  , 4.125, 3.125, 2.125, 2.9  , 0.1  , 2.8  ,
       3.7  , 3.4  , 3.6  , 2.85 , 3.2  , 3.65 , 1.8  ])

In [ ]:
#?

In [ ]:
#?

# Task: Missing Values

We don't want to deal with missing values in this example. Do the following:

* Find out how many values are missing in each column.
* One column should be missing 2 values. Identify the relevant rows and delete them.
* One column should be missing a lot of values. Delete the whole column.

In [ ]:
ramen.isnull().sum()

Brand         0
Variety       0
Style         2
Country       0
Stars         3
Top Ten    2539
dtype: int64

In [15]:
# Drop rows from Style column that are null
ramen.dropna(subset=['Style'], inplace=True)

In [17]:
# Drop column Top Ten
ramen.drop(columns=['Top Ten'], inplace=True)

# Task: Create A Price-Column

Unfortunately the ramen reviews don't contain a price column. Let's _fake_ one with rough estimates:

* A _pack_ of ramen should cost 0.79.
* A _bowl_ of ramen should cost 1.79.
* A _cup_ of ramen should cost 1.29.
* A _tray_ of ramen should cost 2.19.
* All other types should cost 1.09.

Create a function calculating the price based on the style. Use `map` to create a series and add it as a new column to your dataframe.

In [19]:
PACK = 0.79
BOWL = 1.79
CUP = 1.29
TRAY = 2.19
OTHER = 1.09

def calc_price(row):
    match row['Style']:
        case 'Pack':
            return PACK
        case 'Bowl':
            return BOWL
        case 'Cup':
            return CUP
        case 'Tray':
            return TRAY
        case _:
            return OTHER
        
ramen['Price'] = ramen.apply(calc_price, axis=1)

# Task: From Stars To Points

Let's switch from a _star rating_ to a _point rating_ between 1 and 100.

* Calculate the points based on the stars, where 5 stars equal 100 points.
* Change the column name from _Stars_ to _Points_.

In [30]:
ramen['Points'] = ramen['Points'] * 20

In [23]:
# Rename colum Stars to Points
ramen.rename(columns={'Stars': 'Points'}, inplace=True)

# Task: Create A Recommendation-Column

Let's create a new column containing a textual recommendation:

* Ramen with points higher or equal than 90 points get either _Amazing value!_ (for prices benath 1.3) or _Expensive but delicious!_.
* Other ramen with ratings above 80 should read _Must-Try!_.
* Other cheap ramen with a price below 1 should read _Budget choice!_.
* All other ramen should read _Why not?_.

Since you need multiple columns to calculate the recommendation, you need to use `apply`. Check how often each recommendation text appears afterwards!

In [ ]:
ramen['Textual Recommendation'] = ramen.apply(
    lambda row: 'Amazing value!' if row['Points'] >= 90 and row['Price'] < 1.3 else
                'Expensive but delicious!' if row['Points'] >= 90 else
                'Must-Try!' if row['Points'] > 80 else
                'Budget choice!' if row['Price'] < 1 else
                'Why not?',
    axis=1
)

In [34]:
ramen['Textual Recommendation'].value_counts()

Textual Recommendation
Budget choice!              1083
Why not?                     761
Amazing value!               441
Must-Try!                    149
Expensive but delicious!     144
Name: count, dtype: int64

# Task: Export Data

At this point it makes sense to backup our processed dataframe. Export the data into a file `ramen_processed.csv` into a subfolder `output` and compare your results to the provided solution.

In [35]:
import os

os.mkdir('output')

ramen.to_csv('output/ramen_processed.csv')

# Task: Selecting Data (_Integer-Based_)

You can now either use the dataset you've worked on so far or - if in doubt - load our `ramen_processed_solution.csv` for the next tasks.

Solve the following tasks to sharpen your selecting skills:

* Get the first two columns of the last ten rows.
* Get the 4<sup>th</sup> column of the 15<sup>th</sup> row.
* Get the second and the last column of the second last ten rows.
* Get everything but the first column of the 20<sup>th</sup>, 30<sup>th</sup>, 40<sup>th</sup> and 50</sup>th</sup> row.
* Get every column of the 100<sup>th</sup> up to (and including) the 200<sup>th</sup> row.
* Get the third column of every row.

In [36]:
ramen.iloc[-10:, :2]

             Brand                                            Variety
Review #
10           Smack                                     Vegetable Beef
9            Sutah                                         Cup Noodle
8           Tung-I                   Chinese Beef Instant Rice Noodle
7          Ve Wong                                      Mushroom Pork
6            Vifon                                           Nam Vang
5            Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...
4          Wai Wai                     Oriental Style Instant Noodles
3          Wai Wai                                     Tom Yum Shrimp
2          Wai Wai                               Tom Yum Chili Flavor
1         Westbrae                                         Miso Ramen

In [ ]:
ramen.iloc[14, 3]

'Pack'

In [46]:
ramen.iloc[-10:, [1, -2]]

                                                    Variety  Price
Review #
10                                           Vegetable Beef   0.79
9                                                Cup Noodle   1.29
8                          Chinese Beef Instant Rice Noodle   0.79
7                                             Mushroom Pork   0.79
6                                                  Nam Vang   0.79
5         Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...   1.79
4                            Oriental Style Instant Noodles   0.79
3                                            Tom Yum Shrimp   0.79
2                                      Tom Yum Chili Flavor   0.79
1                                                Miso Ramen   0.79

In [47]:
ramen.iloc[[20, 30, 40, 50], 1:]

,Variety,Style,Country,Points,Price,Textual Recommendation
Review #,,,,,,
2560,Cup Noodles Laksa Flavour,Cup,Hong Kong,85.0,1.29,Must-Try!
2550,Paegaejang Ramen,Pack,South Korea,100.0,0.79,Amazing value!
2540,GGE Noodle Snack Wheat Crackers Mexican Spicy,Pack,Taiwan,65.0,0.79,Budget choice!
2530,Ppushu Ppushu Noodle Snack Honey Butter,Pack,South Korea,40.0,0.79,Budget choice!

In [ ]:
# Get every column of the 100th up to the 200th row.
ramen.iloc[100:201, :]

In [48]:
# Get the third column of every row
ramen.iloc[:, 2]

Review #
2580     Cup
2579    Pack
2578     Cup
2577    Pack
2576    Pack
        ...
5       Bowl
4       Pack
3       Pack
2       Pack
1       Pack
Name: Style, Length: 2578, dtype: object

# Task: Selecting Data (_Label-Based_)

Solve the following tasks to sharpen your selecting skills:

* Get the variety and textual recommendation for the review _#1235_.
* Get all columns but the textual recommendation for the reviews from (and including) _#5_ to (and including) _#10_.
* Get the style and points for the reviews _#123_, _#234_ and _#345_.
* Get the variety, style and country for all reviews.

# Task: Conditional Selection

Solve the following tasks to sharpen your selection skills:

* Get everything about ramen that comes in a bowl.
* Get variety, style and points of all ramen that comes from Germany.
* Get the columns from brand up to country of all ramen that comes in a cup and has a rating lower than 10 points.
* Get brand, variety and points of all ramen either produced by _Samyang_ or having a rating over 95 points.
* Get everything but price and recommendation for all ramen containing _Hello Kitty_ in their variety field.
* Get everything up to country for all ramen from the brands _Knorr_, _Vifon_ and _Yum Yum_.

# Task: Grouping And Sorting

Use grouping to solve the following tasks:

* Print out the number of reviews per brand in ascending order.
* Print out all the styles and their mean rating points - in descending order.
* Print out the minimum, maximum and mean price per brand, sorted by the maximum values.
* Print out all the values of the highest rated ramen per style!
* Print out the count and mean of ratings per style per brand, sorted by the count.

# Good Job!